/*
0 - 600px:          Phone
600 - 900PX:        Tablet portrait
900 - 1200px:       tablet landscape
[1200 - 1800]       is where our normal styles apply
1800px + :          Big desktop

$breakpoint argument choices:
- tab-land  //from big to small
- tab-port
- phone

- big-desk  //last one is the bigest

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  color: #fff; }

::selection {
  background-color: #340068;
  color: #fff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #1c1c1d; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #b7b6b9;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #b7b6b9; }
  .heading-2--dark {
    color: #1c1c1d; }

.heading-3 {
  font-size: 1.8rem;
  color: #fff;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #b7b6b9; }
  .heading-4--dark {
    color: #1c1c1d; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.header {
  background-image: linear-gradient(rgba(109, 67, 90, 0.53), rgba(109, 67, 90, 0.53)), url(../img/tickets.jpg);
  background-position: center;
  grid-column: full-start / col-end 6;
  color: #fff;
  padding: 4rem; }
  .header__card {
    background-image: url(../img/show-red.jpg);
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5rem;
    display: flex;
    padding: 1rem; }
    .header__card::after {
      display: block;
      content: '';
      background-image: url(../img/show-red.jpg);
      z-index: 10;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      clip-path: circle(5%);
      transform: translateX(-25%);
      filter: brightness(60%); }
  .header__disk {
    border-radius: 50%;
    max-height: 100%;
    max-width: 50%;
    align-self: center;
    box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.7);
    transition: transform 1s ease-in-out; }
    .header__disk:hover {
      transform: rotate(360deg); }
  .header__heading {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.2; }
    .header__heading span {
      font-size: 3rem; }
  .header__text {
    line-height: 1.3;
    margin-top: 3rem;
    padding: 0 1rem;
    font-weight: 200;
    font-size: 1.7rem;
    text-align: justify; }
  .header__footer {
    position: absolute;
    font-size: 1.9rem;
    width: 60%;
    text-align: right;
    bottom: 3rem;
    right: 3rem; }
  .header__date {
    font-size: 2rem;
    font-weight: 300; }
  .header__ticket {
    position: absolute;
    width: 10rem;
    bottom: -3rem;
    left: 2rem;
    transform-origin: right;
    transition: transform 0.3s ease-in-out; }
    .header__ticket:hover {
      transform: rotate(-20deg);
      cursor: pointer;
      filter: hue-rotate(80deg); }

.sidebar {
  background-color: #5704aa;
  color: #fff;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1/-1;
  display: flex;
  justify-content: center; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  top: 8rem;
  background-color: #fff;
  height: 5rem;
  width: 5rem;
  position: fixed;
  left: 1.5rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__acount {
  top: 1.5rem;
  background-color: #fff;
  height: 5rem;
  width: 5rem;
  position: fixed;
  left: 1.5rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__acount svg {
  fill: #340068;
  height: 3rem;
  width: 3rem;
  margin: 1rem; }

.navigation__background {
  height: 100%;
  width: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top right, #5704aa, #220142);
  z-index: 150;
  transition: width 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
  z-index: 200; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #340068;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  width: 60%; }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 60%; }

.navigation__icon {
  position: relative;
  margin-top: 2.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #1c1c1d;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.artists {
  background-color: #ff6978;
  grid-column: col-start 7 / full-end;
  background-image: linear-gradient(to right, rgba(255, 105, 120, 0.8), rgba(255, 105, 120, 0.03)), url(../img/chairs.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-row-gap: 2rem;
  justify-items: center;
  overflow-y: scroll; }
  .artists__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    align-items: center; }
  .artists__img {
    width: 8rem;
    border-radius: 50%;
    display: block;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.8);
    transition: all 0.3s; }
  .artists__img:hover {
    transform: scale(1.3);
    border-radius: 30%; }
  .artists__sold {
    text-transform: uppercase;
    color: #eee;
    margin-top: -3px; }

.shows {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-row: 30%;
  grid-gap: 7rem; }

.card {
  position: relative;
  overflow: hidden;
  border-radius: 1rem; }

.card .image {
  overflow: hidden; }

.card .image img {
  width: 100%;
  height: 100%;
  background-size: fill;
  transition: 1s; }

.card:hover .image img {
  opacity: 0.5; }

.card:hover .image {
  /*   overflow:hidden; */ }

.card .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  /*100%*/
  height: 100%;
  background: #6d435a;
  transition: 0.5s 0.5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg); }

.card:hover .details {
  transform: perspective(2000px) rotateY(0deg); }

.card .details .center {
  padding: 20px;
  text-align: center;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.card .details .center h1 {
  margin: 0;
  padding: 0;
  color: #ff3636;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase; }

.card .details .center h1 span {
  font-size: 14px;
  color: #262626; }

.card .details .center p {
  margin: 10px 0;
  padding: 0;
  color: #262626; }

.card .details .center ul {
  margin: 10px auto 0;
  padding: 0;
  display: table; }

.card .details .center ul li {
  list-style: none;
  margin: 0 5px;
  float: left; }

.card .details .center ul li a {
  display: block;
  background: #262626;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  transform: 0.5s; }

.card .details .center ul li a:hover {
  background: #ff3636; }

.show {
  background-color: #f7f7f7;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem; }
  .show__img {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/2;
    z-index: 1; }
  .show__like {
    grid-row: 1/2;
    grid-column: 2/3;
    fill: #340068;
    height: 2.5rem;
    width: 2.5rem;
    justify-self: end;
    z-index: 2;
    margin: 1rem; }
  .show__name {
    grid-row: 1/2;
    grid-column: 1/-1;
    justify-self: center;
    align-self: end;
    z-index: 2;
    width: 80%;
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    padding: 1.25rem;
    background-color: #6d435a;
    color: #fff;
    font-weight: 400;
    transform: translateY(50%); }
  .show__location, .show__rooms {
    margin-top: 2.5rem; }
  .show__location, .show__rooms, .show__area, .show__price {
    font-size: 1.5rem;
    margin-left: 2rem;
    display: flex;
    align-items: center; }
    .show__location svg, .show__rooms svg, .show__area svg, .show__price svg {
      fill: #340068;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
  .show__btn {
    grid-column: 1/-1; }

.features {
  grid-column: center-start / center-end;
  background-color: #e05d6a;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  .feature__icon {
    fill: #340068;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .feature__text {
    font-size: 1.7rem; }

.future-shows {
  background-color: #220142;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }

.last-shows {
  background-color: #5704aa;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }

.gallery {
  background-color: #6a666e;
  grid-column: full-start / full-end; }

.footer {
  grid-column: full-start/full-end;
  background-color: #492e3d; }

.acount-nav {
  position: relatve;
  width: 30%;
  height: 100%; }

.acount-content {
  width: 50%;
  height: 100%;
  flex: 1 0 0;
  padding: 8rem; }

.form-container {
  width: 100%;
  background-color: rgba(183, 182, 185, 0.5);
  border-radius: 3rem;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.3); }

.form {
  font-size: 1.3rem;
  font-weight: 400;
  color: #340068;
  display: flex;
  flex-direction: column;
  padding: 5rem;
  font-size: 1.6rem; }
  .form__input {
    margin-bottom: 2rem;
    color: inherit;
    padding: 1.25rem 1.75rem;
    border: none;
    width: 100%;
    background-color: #f2f2f2;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;
    border-radius: 4px; }
  .form__submit {
    align-self: flex-end;
    padding: 1.4rem 5rem;
    border-radius: 10rem;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: #5704aa;
    color: #fff;
    margin-top: 2rem; }
  .form .heading-3 {
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 2rem;
    color: #340068; }

.accordion input {
  position: absolute;
  opacity: 0;
  z-index: -1; }

.accordion-wrapper {
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  width: 100%; }

.accordion {
  width: 100%;
  color: white;
  overflow: hidden;
  margin-bottom: 16px; }

.accordion:last-child {
  margin-bottom: 0; }

.accordion-label {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 16px;
  background: rgba(4, 57, 94, 0.8);
  font-weight: bold;
  cursor: pointer;
  font-size: 20px; }

.accordion-label:hover {
  background: #04395e; }

.accordion-label::after {
  content: '\276F';
  width: 16px;
  height: 16px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.accordion-content {
  max-height: 0;
  color: #04395e;
  background: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.accordion-content p {
  margin: 0;
  color: rgba(4, 57, 94, 0.7);
  font-size: 18px; }

input:checked + .accordion-label {
  background: #04395e; }

input:checked + .accordion-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

input:checked ~ .accordion-content {
  max-height: 100vh; }

.accordion-content ul li {
  padding: 1rem;
  font-size: 1.2rem;
  display: block;
  border-bottom: 1px solid black; }

.container {
  display: grid;
  grid-template-rows: 80vh repeat(5, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }

.acount-container {
  background-image: linear-gradient(rgba(109, 67, 90, 0.6), rgba(109, 67, 90, 0.6)), url(../img/user.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex; }
